body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color:#CACFD2;
}

.banner-column{
    background-color: #808B96 ;
}

.navbar-container{
    background-color: #262B37;
}

.about-container{
    /* background-color: #00BDBD; */
    background-color: #6495ED;
}
.education-container{
    background-color: #EEEEEE;
}
.orange-bg{
    background-color: #FF7F50;
}
.orange-bg-color{
    color: #FF7F50;
}
.circle-bg{
    background-color: #FF7F50;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #1ABC9C;
}