body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.banner-column{
    background-color: #808B96 ;
}

.navbar-container{
    background-color: #262B37;
    position: sticky;
    top: 0;
    z-index: 2;
}

.about-container{
    /* background-color: #00BDBD; */
    background-color: #6495ED;
}
.education-container{
    background-color: #EEEEEE;
}
.orange-bg{
    background-color: #FF7F50;
}
.orange-bg:hover{
    color: black!important;
}
.orange-bg-color{
    color: #FF7F50;
}
.circle-bg{
    background-color: #FF7F50;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #1ABC9C;
}

.form-container-color{
    background-color: #474D5D;
}

.inner-form{
    background-color: #585F73;
}

.footer{
    background-color: #DE3163;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #585F73;
}
.circle:hover{
   color: #DE3163;
   background-color: #585F73;
}